{{#statics.js}}
  <link rel="preload" href="/assets/{{name}}" as="script">
{{/statics.js}}
{{#statics.preloadScripts}}
  <link rel="preload" href="/assets/{{name}}" as="script">
{{/statics.preloadScripts}}