<!doctype html>
<html lang="ru" {{> responsiveHooks }}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{> favicons }}
    {{> meta }}
    {{> preloadScripts }}
    {{> preloadFonts }}
    {{> initialState }}
    {{> css }}
</head>
<body class="preload">
{{! svg sprite hook }}
{{{spriteContent}}}
{{! app hook }}
<main id="app">{{{html}}}</main>
{{! app scripts }}
{{> js}}
</body>
</html>
