$white = #FFFFFF
$light-blue = #D7E6EE
$light-black = #272727
$lighten-gray = #F4F4F4
$dark-blue = #313A4E
$gray = #767676
$black = #000000
$blue = #0030FF
$lighten-blue = #1079FF

:export
  white $white