$defaultFontSize = 10px

$fontRegular = 'IBMPlexMono', sans-serif
$fontBold = 'IBMPlexMono-Bold', sans-serif
$fontMedium = 'IBMPlexMono-Medium', sans-serif
$fontSemiBold = 'IBMPlexMono-SemiBold', sans-serif

$bodyFont = $fontRegular